<div class="container">
    <div class="py-3">
        <ul class="nav justify-content-center p-2 gap-5">
            <li class="nav-item"> <img src="./assets/images/btc-turk-logo.png" alt="">
            </li>
            <li class="nav-item">
                <img src="./assets/images/btc-turk-pro-logo.png" alt="">
            </li>
            <li class="nav-item"> <img src="./assets/images/bilgi-platformu-logo.png" alt="">
            </li>
        </ul>
    </div>
    <footer>
        <div class="container">
            <div class="row" style="padding-top: 5%;">
                <h5 class="text-center" translate> {{'Footer.FollowUs'}}</h5>
                <ul class="nav justify-content-center pb-3 mb-3">
                    <li class="nav-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                </ul>
            </div>

        </div>
        <p class="text-center font-weight-bold py-3">&copy; {{"Footer.CompanyName" | translate}}</p>
    </footer>
</div>