/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$header-bg-color: #FFF9D3;
$content-bg-color: #FCF6F5;
$footer-bg-color: #182C34;

